h4 {
    font-family: "Comic Sans MS";
}
.myDiv {
    border: 5px outset orange;
    background-color: lightblue;
    text-align: center;
    margin-outside: 20px;
    position: absolute;
    left: 0;
    width: auto;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.myDiv2 {
    border: 5px outset orange;
    background-color: lightblue;
    text-align: center;
    margin: auto;
    width: 50px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.myDiv3 {
    border: 5px outset orange;
    background-color: lightblue;
    text-align: center;
    margin-outside: 20px;
    position: absolute;
    right: 0px;
    width: 300px;
    width: auto;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.parent {
    display: flex;
}

.myDiv4 {
    border: 5px outset orange;
    background-color: lightblue;
    text-align: center;
    margin: auto;
    width: auto;
    padding: 30px;
    vertical-align: auto;
    horiz-align: center;
    font-family: "Comic Sans MS";
}

.hide{
    display:none;
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    margin: auto;
    width: auto;
    padding: 30px;
    vertical-align: auto;
    horiz-align: center;
}

.show{display:block;}
